 <!--  movie info -->

 <div class="movie-info">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <img src="assets/images/rm5.webp" alt="" width="100%">
                </div>
                <div class="col-md-9 d-flex justify-content-center align-items-center">
                    <div class="heading2 text-center text-white">
                         <h1>Tu Jhooti Main Makkaar</h1>
        <h3>Rating 7.8/10</h3><h5>72.7k votes</h5>
        <h2>Add your rating &amp; review
            <button class="btn btn-light">Rate Now</button>
        </h2>
        <h4>2D Hindi</h4>
                        <div (click)="ontheater()">
                        <div class="btn btn-danger text-white mt-4">Book Ticket</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="aboutmovie py-3 px-3">
    <h2>About the movie</h2>
    <p>Madness ensues when a `player` in the world of romantic relationships finds a girl who`s a worthy opponent. Tu Jhoothi Main Makkaar is a film that believes love is a battle of wits.</p>
   </div>