  <!--  movie info -->

  <div class="movie-info">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <img src="assets/images/rm4.webp" alt="" width="100%">
                </div>
                <div class="col-md-9 d-flex justify-content-center align-items-center">
                    <div class="heading2 text-center text-white">
                            <h1>John wick:Chapter 4</h1>
                            <h3>140.2K</h3><h3>are interested</h3>
                            <h2>Releasing on 24 March,2023</h2>
                            <h4>Are you interested in watching this movie?</h4>
                        <a (click)="ontheater()">
                        <div class="btn btn-danger text-white mt-4">Book Ticket</div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="aboutmovie py-3 px-3">
    <h2>About the movie</h2>
    <p>John Wick (Keanu Reeves) takes on his most lethal adversaries yet in the upcoming fourth installment of the series. With the price on his head ever increasing, Wick takes his fight against the High Table global as he seeks out the most powerful players in the underworld, from New York to Paris to Osaka to Berlin.</p>
   </div>
