<div class="logIn">
    <div class="logIn-container">
        <div class="col-md-12">
            <div class="row d-lg-flex flex-lg-wrap">
                <div class="col-md-12 px-0 bg-white  login-padding">
                    <div class="logo text-center mb-3">
                        <a href="index.html">
                            <!-- <img src="/images/logo.svg" alt=""> -->
                            <!-- <h3 class="heading-36px"><span class="text-accent ">I</span>𝗇𝖿𝗂𝗇𝗂𝗍𝗒 𝗋𝖾𝗆𝗂𝗍</h3> -->
                        </a>
                    </div>
                    <div class="logIn-box my-4 col-md-5">

                        <h2>Log in to your account</h2>

                        <div class="gap-2 flex flex-col relative my-4">
                            <div class="label">
                            <label for="name" class="block ">First name</label>
                        </div>
                            <div class="relative">
                                <input class="h-10 px-5 email-input" aria-invalid="false" name="name" id="name" type="name" value="">
                        </div>
                    </div>
                        <div class="gap-2 flex flex-col relative my-4">
                            <div class="label">
                            <label for="name" class="block ">Last name </label>
                        </div>
                            <div class="relative">
                                <input class="h-10 px-5 email-input" aria-invalid="false" name="name" id="name" type="name" value="">
                        </div>
                    </div>
                        <div class="gap-2 flex flex-col relative my-4">
                            <div class="label">
                            <label for="email" class="block ">Email </label>
                        </div>
                            <div class="relative">
                                <input class="h-10 px-5 email-input" aria-invalid="false" name="email" id="email" type="email" value="">
                        </div>
                    </div>


                        <div class="gap-2 flex flex-col relative">
                            <div class="label">
                            <label for="email" class="block ">Password </label>
                        </div>
                            <div class="relative">
                                <input class="h-10 px-5 email-input" aria-invalid="false" name="password" id="password" type="password" value="">
                        </div>
                    </div>

                    <div class="flex items-center my-2">
                        <div class="text-sm mt-4">
                            <div class="orange-textt" >
                                <input type="checkbox" id="checkbox" name="checkbox">
                                I agree to the Terms of Service and Privacy Policy</div>
                    </div>
                </div>

                <div class="login-btn">
                    <div class="btn orange-btn text-white my-3">Log in</div>
                </div>

                <div class="text-center d-flex justify-content-center">
                    <span class="mr-2">Have an account?</span>
                    <a href="logIn.html">
                        <div class="orange-text px-2" >Log in</div>
                </a>
                </div>

                    </div>
                </div>
                <!-- <div class="col-md-6 px-0  login-padding">
                    <div class="logo text-center">
                        <h3 class="heading-36px"><span class="text-accent ">I</span>𝗇𝖿𝗂𝗇𝗂𝗍𝗒 𝗋𝖾𝗆𝗂𝗍</h3>
                    </div>
                    <div class="login-title text-center my-4">
                        <h6 class="my-2">Welcome to TeamOut</h6>
                        <h6 class="my-2">Let’s build unforgettable retreats for your teams</h6>
                        <p class="my-2">TeamOut | The Retreat Platform</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>