 <!-- footer  -->

 <div class="footer">
    <div class="footer-container">
        <div class="footer-floor-1">
            <div class="d-flex justify-content-around">
                <div class="d-flex text-white">
                    <i class="fa-solid fa-campground d-flex text-white"></i>
                    <h6 class="text-white px-3">List your Show</h6>
                    <p class="text-white ps-4">
                        Got a show, event, activity or a great experience? Partner with
                        us & get listed on BookMyShow
                    </p>
                </div>
                <div class="footer-btn">
                    <div class="btn btn-danger">Contact today!</div>
                </div>
            </div>
        </div>
        <div class="footer-floor-2">
            <div class="col-md-12">
                <div class="d-flex flex-wrap justify-content-center">
                    <div class="col-md-4">
                        <div class="text-center">
                            <i class="fa-solid fa-headset text-white footer-i"></i>
                            <p class="text-white">24/7 CUSTOMER CARE</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center text-white">
                            <i class="fa-solid fa-ticket footer-i"></i>
                            <p class="text-white">RESEND BOOKING CONFIRMATION</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center text-white">
                            <i class="fa-solid fa-envelope-open-text footer-i"></i>
                            <p class="text-white">SUBSCRIBE TO THE NEWSLETTER</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-floor-3">
            <div class="fs-list py-2">
                <p class="fw-semi-bold footer-floor-3-para px-2 mb-2">
                    Movies Now Showing in Delhi-NCR
                </p>
                <div class="footer-list">
                    <ul class="d-flex px-0">
                        <li class="">
                            <a href="#" class="text-decoration-none">Action & Adventure</a>
                        </li>
                        <li class="">
                            <a href="#" class="text-decoration-none">Action & Adventure</a>
                        </li>
                        <li class="">
                            <a href="#" class="text-decoration-none">Action & Adventure</a>
                        </li>
                        <li class="">
                            <a href="#" class="text-decoration-none">Action & Adventure</a>
                        </li>
                    </ul>
                </div>
                <p></p>
            </div>
            <div class="fs-list py-2">
                <p class="fw-semi-bold footer-floor-3-para px-2 mb-2">
                    Movies Now Showing in Delhi-NCR
                </p>
                <div class="footer-list">
                    <ul class="d-flex px-0">
                        <li class="">
                            <a href="#" class="text-decoration-none">Action & Adventure</a>
                        </li>
                        <li class="">
                            <a href="#" class="text-decoration-none">Action & Adventure</a>
                        </li>
                        <li class="">
                            <a href="#" class="text-decoration-none">Action & Adventure</a>
                        </li>
                        <li class="">
                            <a href="#" class="text-decoration-none">Action & Adventure</a>
                        </li>
                    </ul>
                </div>
                <p></p>
            </div>
            <div class="fs-list py-2">
                <p class="fw-semi-bold footer-floor-3-para px-2 mb-2">
                    Movies Now Showing in Delhi-NCR
                </p>
                <div class="footer-list">
                    <ul class="d-flex px-0">
                        <li class="">
                            <a href="#" class="text-decoration-none">Action & Adventure</a>
                        </li>
                        <li class="">
                            <a href="#" class="text-decoration-none">Action & Adventure</a>
                        </li>
                        <li class="">
                            <a href="#" class="text-decoration-none">Action & Adventure</a>
                        </li>
                        <li class="">
                            <a href="#" class="text-decoration-none">Action & Adventure</a>
                        </li>
                    </ul>
                </div>
                <p></p>
            </div>
            <div class="fs-list py-2">
                <p class="fw-semi-bold footer-floor-3-para px-2 mb-2">
                    Movies Now Showing in Delhi-NCR
                </p>
                <div class="footer-list">
                    <ul class="d-flex px-0">
                        <li class="">
                            <a href="#" class="text-decoration-none">Action & Adventure</a>
                        </li>
                        <li class="">
                            <a href="#" class="text-decoration-none">Action & Adventure</a>
                        </li>
                        <li class="">
                            <a href="#" class="text-decoration-none">Action & Adventure</a>
                        </li>
                        <li class="">
                            <a href="#" class="text-decoration-none">Action & Adventure</a>
                        </li>
                    </ul>
                </div>
                <p></p>
            </div>
            <div class="fs-list py-2">
                <p class="fw-semi-bold footer-floor-3-para px-2 mb-2">
                    Movies Now Showing in Delhi-NCR
                </p>
                <div class="footer-list">
                    <ul class="d-flex px-0">
                        <li class="">
                            <a href="#" class="text-decoration-none">Action & Adventure</a>
                        </li>
                        <li class="">
                            <a href="#" class="text-decoration-none">Action & Adventure</a>
                        </li>
                        <li class="">
                            <a href="#" class="text-decoration-none">Action & Adventure</a>
                        </li>
                        <li class="">
                            <a href="#" class="text-decoration-none">Action & Adventure</a>
                        </li>
                    </ul>
                </div>
                <p></p>
            </div>

            <div class="footer-logo">
                <div class="footer-line"></div>
                <a href="">
                    <div class="c-name">
                        <h3 class="text-dark">Book</h3>
                        <h4 class="text-danger">Show</h4>
                        <h3 class="text-dark">Tickets</h3>
                    </div>
                </a>
                <div class="footer-line"></div>
            </div>

            <div class="social-media d-flex justify-content-center">
                <div class="social-media-logo mx-2">
                    <i class="fa-brands fa-instagram"></i>
                </div>
                <div class="social-media-logo mx-2">
                    <i class="fa-brands fa-facebook-f"></i>
                </div>
                <div class="social-media-logo mx-2">
                    <i class="fa-brands fa-x-twitter"></i>
                </div>
                <div class="social-media-logo mx-2">
                    <i class="fa-brands fa-youtube"></i>
                </div>
                <div class="social-media-logo mx-2">
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>
                <div class="social-media-logo mx-2">
                    <i class="fa-brands fa-pinterest-p"></i>
                </div>
            </div>

            <div class="copy-right text-center">
                <p class="copy-right-para">
                    Copyright 2023 © Bigtree Entertainment Pvt. Ltd. All Rights
                    Reserved.
                </p>
                <p class="copy-right-para">
                    The content and images used on this site are copyright protected
                    and copyrights vests with the respective owners. The usage of the
                    content and images on this website is intended to promote the
                    works and no endorsement of the artist shall be implied.
                    Unauthorized use is prohibited and punishable by law.
                </p>
            </div>
        </div>
    </div>
</div>