  <!--  movie info -->

  <div class="movie-info">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <img src="assets/images/vaccinewar.webp" alt="" width="100%">
                </div>
                <div class="col-md-9 d-flex justify-content-center align-items-center">
                    <div class="heading2 text-center text-white">
                            <h1>The Vaccine War</h1>
                            <h3>140.2K</h3><h3>are interested</h3>
                            <h2>Releasing on 24 September,2024</h2>
                            <h4>Are you interested in watching this movie?</h4>
                        <div (click)="ontheater()">
                        <div class="btn btn-danger text-white mt-4">Book Ticket</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="aboutmovie py-3 px-3">
    <h2>About the movie</h2>
    <p>The Vaccine War show to effort in making the cowed-19 vaccine the scientist done a hard to create the vaccine.</p>
   </div>