    <!-- movie info -->

    <div class="movie-info">
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/images/rm4.webp" alt="" width="100%">
                    </div>
                    <div class="col-md-9 d-flex justify-content-center align-items-center">
                        <div class="heading2 text-center text-white">
                                <h1>Mrs. Chatterjee Vs Norway</h1>
                                <h3>Rating 7.8/10</h3><h5>72.7k votes</h5>
                                <h2>Add your rating &amp; review
                                    <button class="btn btn-light">Rate Now</button>
                                </h2>
                                <h4>2D Hindi</h4>
                            <div (click)="ontheater()">
                            <div class="btn btn-danger text-white mt-4">Book Ticket</div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="aboutmovie py-3 px-3">
        <h2>About the movie</h2>
        <p>Mrs. Chatterjee`s fight against an entire nation to reunite with her children is now Desh Ka Matter.</p>
       </div>